<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="map"></div>
    <div id="testScore"></div>
    <div id="mainForm">
        <div id="globalMenu">
            <h2>Northglenn Geography</h2>
            <form id="districtchoice">
                <input type="radio" id="district1" name="district" value="district1" checked />
                <label for="district1">District 1</label>
                <input type="radio" id="district2" name="district" value="district2" />
                <label for="district2">District 2</label>
                <input type="radio" id="district3" name="district" value="district3" />
                <label for="district3">District 3</label>
                <input type="radio" id="district4" name="district" value="district4" />
                <label for="district4">District 4</label>
            </form>
            <form id="landmarkchoice">
                <input type="radio" id="streets" name="landmark" value="streets" checked />
                <label for="streets">Streets</label>
                <input type="radio" id="landmarks" name="landmark" value="landmarks" />
                <label for="landmarks">Landmarks</label>
            </form>
            <form id="textBoxOrdering">
                <input type="radio" id="inOrder" name="ordering" value="inorder" checked />
                <label for="inOrder">In Order</label>
                <input type="radio" id="randomOrder" name="ordering" value="randomorder" />
                <label for="randomOrder">Random Order</label>
            </form>
            <input type="button" class="mainFormButton" onclick="showAllMapFeatures()" value="Show all map features">
            <input type="button" class="mainFormButton" onclick="showDistrictBoundary()" value="Show district boundary">
            <div>
                <input type="button" class="mainFormButton" onclick="openInfoWindow()" value="Show Answer">
            </div>
            <div id="form2"></div>
        </div>
    </div>
    <script src="js/district1.js"></script>
    <script src="js/district2.js"></script>
    <script src="js/district3.js"></script>
    <script src="js/district4.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/main.js"></script>
    <script id="initMapCall">
        $("#initMapCall").after(`<script src='https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&callback=initMap'><//script>`);
    </script>
</body>

</html>