#map {
    height: 100%;
    width: 100%;
}

#mainForm {
    position: absolute;
    left: 10px;
    top: 60px;
}

#globalMenu {
    position: relative;
    width: 405px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 10px 0px 5px 0px;
}

#form1 {}

#form2 {
    height: 300px;
    border-radius: 10px;
    overflow: auto;
}

#geoMenu {
    position: fixed;
    left: 500px;
    top: 0px;
}

#testScore {
    padding: 0px 10px 0px 10px;
    position: fixed;
    left: 500px;
    top: 0px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    text-align: center;
}



/* Make sure the maps fits the entire screen */

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}




/* Make space for the correct or incorrect icons in the text fields */

.form1Input {
    padding: 10px 22px 10px 5px;
    border-radius: 4px;
    margin: 10px;
    font-size: 11pt;
    border: 1px solid #cccccc;
    font-family: roboto_light;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.075) inset;
    outline: none;
}

.form2Input {
    padding: 10px 22px 10px 5px;
    border-radius: 4px;
    margin: 5px;
    font-size: 11pt;
    border: 1px solid #cccccc;
    font-family: roboto_light;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.075) inset;
    outline: none;
}

input[type=text]:focus {
    border-color: #eaaa13;
}

input[type=radio] {
    margin: 8px;
}

.menuFormButton {
    border-style: none;
    height: 40px;
    width: 100px;
    border-radius: 0px 0px 4px 4px;
    background-color: #e3e3e3;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
    outline: none;
    font-family: roboto_black;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 12pt;
}

.menuFormButton:hover {
    background-color: #f2f2f2;
    position: relative;
    height: 45px;
    padding-top: 10px;
}

.mainFormButton {
    margin: 5px;
    height: 30px;
    width: 155px;
    background: white;
    font-size: 9pt;
    border-radius: 4px;
    color: black;
    border-style: none;
    background-color: #e3e3e3;
    font-family: roboto_regular;
    box-shadow: 0px 2px rgba(0, 0, 0, .2);
    outline: none;
}

.mainFormButton:hover {
    background-color: #f2f2f2;
}

.mainFormButton:active {
    background-color: #19add8;
    color: white;
    position: relative;
    box-shadow: none !important;
    bottom: -3px;
}


h2 {
    font-family: roboto_bold;
}

h3 {
    font-family: roboto_bold;
}

label {
    font-size: 10pt;
    font-family: roboto_black;
}

input.correct {
    background-image: url('../images/valid.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 20px 20px;
    border-color: #28921f;
    box-shadow: 0 0 5px #5cd053;
}

input.incorrect {
    background-image: url('../images/invalid.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 20px 20px;
    border-color: #b03535;
    box-shadow: 0 0 5px #d45252;
}

@font-face {
    font-family: roboto_black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: roboto_regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto_light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto_bold;
    src: url("../fonts/Roboto-Bold.ttf");
}